{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
    <h2>{{album}}</h2>
    <div class="flex">
    <a href="/artiste?id={{res[0].artist.id}}">{{res[0].artist.name}}</a>
      {% for result in res %}
      
      <div>
        
        <a href="{{result.link}}"> {{result.title }}</a>
        
        <div>
          <audio controls>
            <source src="{{result.preview }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>  
        </div>
        {% endfor %}
        <pre>
          {{ dump(res) }}
        </pre>
{% endblock %}
