{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
    <div class="flex">
      {% for result in res %}
      <div>
        <h2>{{result.album.title}}</h2>
        <div>
         
          <a href="/album?id={{result.album.id}}&title={{result.album.title}}">

            <img src="{{result.album.cover_medium }}" alt="">
          </a>
        </div>
        <a href="{{result.link}}"> {{result.title }}</a>
       
        <img src="{{result.artist.picture_small }}" alt="">
        <div>
          <audio controls>
            <source src="{{result.preview }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>  
        </div>
        {% endfor %}
        <pre>
          {{ dump(res) }}
        </pre>
{% endblock %}
